{% extends 'base.html' %}

{% block content %}

<div class="container">
  <h2>Somos um grupo focado na satisfação e felicidade do usuário</h2>
  <p>
    Pellentesque vel aliquet ligula. Vestibulum consequat est eu ante vulputate, eu gravida dui fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lobortis sollicitudin rutrum. Morbi tincidunt, leo nec ultricies gravida,
    turpis est bibendum ligula, sed feugiat risus orci ac diam. Vivamus hendrerit convallis sem, hendrerit sodales odio bibendum ut. Praesent a magna ac erat ornare tempor eget in dolor. Duis vitae augue at turpis auctor tristique. Donec auctor
    metus magna, ac sagittis libero mollis sit amet. Aenean id arcu ipsum. Donec sem metus, tincidunt vitae tristique eu, lacinia tempus lectus. In pharetra vel ligula a faucibus. Fusce lorem leo, ultricies eu augue a, egestas viverra sapien. Ut
    luctus iaculis varius. Sed viverra nunc a urna malesuada elementum. Mauris fermentum turpis neque, eu consectetur ante luctus at.
  </p>
  <h3>Focando em melhorar</h3>
  <p>
    In eu finibus augue. Curabitur fringilla feugiat erat, aliquet facilisis augue commodo nec. Etiam lacinia pretium nunc vitae condimentum. Nulla egestas metus ac nunc ornare luctus. Aenean condimentum arcu at diam finibus laoreet. Cras sagittis
    velit massa, quis vestibulum orci convallis at. Curabitur et elit ut mi placerat ultricies eget at mi. Etiam ut dui massa. Curabitur semper, ante sit amet euismod iaculis, tellus ipsum ornare magna, eu molestie risus sapien at nisi. Mauris
    tempus velit vel nibh condimentum tristique. Nam sem eros, condimentum nec elit sagittis, hendrerit pretium purus.
  </p>

  <p> Nullam in interdum neque, at ornare lorem. Ut finibus sem felis, eu commodo metus elementum quis. Vestibulum semper consectetur tellus, vitae rutrum felis elementum sed. Maecenas sed sagittis mauris. Fusce euismod sed risus eget egestas.
    Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla urna lectus, blandit vitae lectus ut, imperdiet bibendum ligula. Praesent auctor, leo vel auctor pharetra, lorem urna malesuada lorem, ut faucibus dui erat vitae nunc.
  </p>
</div> <!-- /container -->

{% endblock %}